<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716230783282-k7btp56fu14kr3bki623h4ekdm0eehpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716230783282-k7btp56fu14kr3bki623h4ekdm0eehpn</string>
	<key>API_KEY</key>
	<string>AIzaSyDvC2nUAExSEmee5zy6gnGBseW_x5OQpNE</string>
	<key>GCM_SENDER_ID</key>
	<string>716230783282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.Movies</string>
	<key>PROJECT_ID</key>
	<string>movies-809cd</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-809cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716230783282:ios:62414b85197f5aa358e72b</string>
</dict>
</plist>